<div autoplay class="carousel w-full h-screen relative">
	<div class="max-sm:hidden carousel-control absolute w-full h-full pointer-events-none	flex justify-between items-center px-6">
		<button class="pointer-events-auto rounded bg-secondary btn-primary active:opacity-90 size-12  ">
			<svg class=" m-auto -rotate-90" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewbox="0 0 40 40">
				<path fill="currentColor" d="M4.659 28.167h30.682L20 7.833z"/>
			</svg>
		</button>
		<button class="pointer-events-auto rounded bg-secondary btn-primary active:opacity-90 size-12  ">
			<svg class=" m-auto rotate-90" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewbox="0 0 40 40">
				<path fill="currentColor" d="M4.659 28.167h30.682L20 7.833z"/>
			</svg>
		</button>
	</div>
	<div class="carousel-container h-full w-full">
		<div class="carousel-items flex overflow-y-hidden h-full w-full sm:overflow-x-hidden snap-mandatory snap-x">
			<img class="image snap-center object-cover flex-shrink-0 w-full h-full" src="{{ asset('images/homeCarousel/leopar.jpg') }}" alt="un léopard allongé sur un rocher regardant l'objectif">
			<img class="image snap-center object-cover flex-shrink-0 w-full h-full" src="{{ asset('images/homeCarousel/lion.jpg') }}" alt="un lion regardant au loin avec un air sérieux">
			<img class="image snap-center object-cover flex-shrink-0 w-full h-full" src="{{ asset('images/homeCarousel/tiger.jpg') }}" alt="tigre de face qui marche vers l'objectif">
			<img class="image snap-center object-cover flex-shrink-0 w-full h-full" src="{{ asset('images/homeCarousel/zebra.jpg') }}" alt="deux zèbres dans des hautes herbes se frottant l'un à l'autre en regardand l'objectif">
			<img class="image snap-center object-cover flex-shrink-0 w-full h-full last:max-sm:hidden" src="{{ asset('images/homeCarousel/leopar.jpg') }}" alt=" ">
		</div>
	</div>
</div>
